.m-wrapper {
    height: 20vh;
    width: 40rem;
    background: url(../../img/colorful1.jfif);
}

.glass{
    background-color: rgba(14, 14, 14, 0.1);
    padding: 50px;
    border-radius: 5px;
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68,0,0.3);
    line-height: 1.5;
}

.glass>p{
    font-size: 18px;
    color: black;
}

@media screen and (max-width: 480px) {
    .m-wrapper{
        width: 22rem;
    }

    .glass{
        padding: 20px;
    }
}