.h-wrapper{
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.h-left{
    display: flex;
    justify-content: center;
    flex: 2.5;
}

.h-left>img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

.h-right{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 2.5;
}

.h-right>:nth-child(1){
    font-weight: bold;
    font-size: 3rem;
}

.h-right>:nth-child(2), .h-right>:nth-child(3){
    font-size: 2rem;
    font-weight: bold;
    color: rgb(92, 90, 90);
}

@media screen and (max-width: 480px) {
    .h-wrapper{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .h-right{
        margin-left: 2.5rem;
    }

    hr{
        display: none;
    }
}