.ap-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.ap-image>img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}

.color-bg{
    position: absolute;
    background-color: rgb(194, 199, 236);
    height: 12rem;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 480px) {
    .ap-image>img{
        width: 10rem;
        height: 10rem;
    }

    .color-bg{
        height: 8rem;
    }
}