.cm-wrapper {
    height: 20vh;
    width: 35rem;
}

.sm-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sm-icons a {
    color: black;
}

.sm-icons>a:hover{
    cursor: pointer;
    color: #551a8b;
}

@media screen and (max-width: 480px) {
    .cm-wrapper{
        width: 90%;
    }
}
